* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.flex-column {
  flex-direction: column;
}

.col,
.col-sm-1,
.col-sm-2,
.col-sm,
.col-md,
.col-lg {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px 10px 20px 10px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-sm {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media (min-width: 220px) {
  .col-lg,
  .col-md,
  .col-sm,
  .col-sm-1,
  .col-sm-2 {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    -ms-flex: 0 0 27.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 27.333333%;
    max-width: 27.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 21.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 21.333333%;
    max-width: 21.333333%;
  }
}

@media (min-width: 992px) {
  .col-md {
    -ms-flex: 0 0 47.666666%;
    -webkit-box-flex: 0;
    flex: 0 0 47.666666%;
    max-width: 47.666666%;
  }
  .col-lg {
    -ms-flex: 0 0 60%;
    -webkit-box-flex: 0;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

.navbar {
  position: absolute;
  padding: 1rem 2.5rem;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: end;
}
